@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito sans', sans-serif;
    src: url('./style/Font/NunitoSans_10pt-Regular.ttf') format('ttf'),
      url('./style/Font/NunitoSans_10pt-Medium.ttf') format('ttf'),
      url('./style/Font/NunitoSans_10pt-Bold.ttf') format('ttf'),
      url('./style/Font/NunitoSans_10pt-ExtraLight.ttf') format('ttf'),
      url('./style/Font/NunitoSans_10pt-Black.ttf') format('ttf'),
      url('./style/Font/NunitoSans_10pt-SemiBold.ttf') format('ttf');
    font-size-adjust: 100%;
  }

  @font-face {
    font-family: 'Impact', sans-serif;
    src: url('./style/font_impact/impact.ttf') format('ttf'),
      url('./style/font_impact/Impacted.ttf') format('ttf'),
      url('./style/font_impact/unicode.impact.ttf') format('ttf');
    font-size-adjust: 100%;
    text-indent: 10%;
  }


  :root {
    --testo-black: #202123;
    --sfondo-white: #fefefe;
    --dettagli-red: #da2228;
    --font-family-1: 'Nunito sans', sans-serif;
    --font-family-2: 'Impact', sans-serif;
  }

  body, html {
    font-family: 'Nunito sans', sans-serif;
    color: var(--testo-black);
    background: var(--sfondo-white);
    text-wrap: balance !important;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  video::webkit-media-controls-volume-slider, video::webkit-media-controls-mute-button, video::webkit-media-controls-pause-button {
    display: none !important;
  }

  video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 0 !important;
  }

  h1, h2, h3, h4, h5, h6, p, span, caption, pre, select, textarea, input, button {
    color: inherit;
    /* font-family: inherit; */
  }

  h1, h2, h3, h4, h5, h6, span {
    font-family: 'Impact', sans-serif;
    letter-spacing: .85px;
  }

  .accent {
    color: #da2228 !important;
  }

  .bg-accent {
    background: var(--sfondo-white) !important;
  }

  .bg-normal {
    background: var(--sfondo-white);
  }

  .border-accent {
    border-color: #da2228;
  }

  .outline-accent {
    outline-color: #da2228;
  }

  /* .bg-sfuma {
    background: rgba(0, 0, 0, 0.75);
  } */

  @media screen and (min-width: 767px) {
    .title1, .title2, .title3, .title4 {
      display: none;
    }

    .one:hover .title1, .two:hover .title2, .three:hover .title3, .four:hover .title4 {
      display: block !important;
    }
  }

  .nav-list.open {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-transform: translate(301px, 0);
    transform: translate(301px, 0);
    -webkit-transform: translate(301px, 0);
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100vh - 100px);
    z-index: 10000;
    padding: 33px;
    overflow: hidden;
    min-width: 360px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 5;
    overflow: hidden;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .nav-list .inner-wrap {
    width: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .openDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .nav-list.open .social-wrap {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    gap: 1.5rem;
    width: 100%;
    margin-top: 3rem;
    color: var(--testo-black) !important;
  }

  .nav-list.open .close-open {
    display: block !important;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }

  .inner-wrap ul li a {
    color: var(--testo-black);
    font-weight: 1000 !important;
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-stretch: extra-expanded;
  }

  #app {
    z-index: 9;
  }

  span.xjxvisuals {
    color: var(--sfondo-white) !important;
    z-index: 99;
  }

  .slide-out.openSlide {
    background: var(--sfondo-white);
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 0;
    isolation: isolate;
  }

  .main-content {
    height: 100%;
    z-index: 2;
    background: var(--sfondo-white);
    color: var(--testo-black);
  }

  .bg-hero {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .main-content.open {
    -webkit-transition: transform .8s cubic-bezier(.15, .2, .1, 1);
    -webkit-transition: -webkit-transform .8s cubic-bezier(.15, .2, .1, 1);
    transition: -webkit-transform .8s cubic-bezier(.15, .2, .1, 1);
    -o-transition: transform .8s cubic-bezier(.15, .2, .1, 1);
    transition: transform .8s cubic-bezier(.15, .2, .1, 1);
    transition: transform .8s cubic-bezier(.15, .2, .1, 1), -webkit-transform .8s cubic-bezier(.15, .2, .1, 1);
    -webkit-transform: scale(.835) translateX(-466px) translateZ(0) !important;
    transform: scale(.835) translateX(-466px) translateZ(0) !important;
    height: 100%;
    height: 100%;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  @media only screen and (min-width: 1000px) {
    .main-content.open {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: scale(.8) translateX(-32vw) translateZ(0) !important;
      transform: scale(.8) translateX(-32vw) translateZ(0) !important;
    }

    .nav-list.open {
      min-width: 32.3vw !important;
      padding-left: 4%;
      padding-right: 4%;
      margin: 1rem;
    }
  }

  @media screen and (max-width: 400px) {
    .nav-list.open {
      min-width: 200px !important;
    }
  }

  .home {
    height: calc(100vh - 180px);
  }

  .link-insta {
    max-width: 210px;
  }

  .down-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(100vh - 100px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    color: var(--sfondo-white);
    border-color: var(--sfondo-white);
    z-index: 999;
    animation: jumpInfinite 1.825s infinite ease-in-out;
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }

    50% {
      margin-top: 20px;
    }

    100% {
      margin-top: 0;
    }
  }

  .title-raduno {
    font-size: clamp(23px, 3vw, 34px);
  }


  /**
    swiper
  **/
  .swiper {
    width: 100%;
    height: calc(100vh - 20%);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    width: 100%;
    height: 500px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: calc(100vh - 20%);
    object-fit: cover;
  }


  .scroll {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 90vw;
    z-index: 9;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, #fff), color-stop(80%, #fff), to(transparent));
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
  }

  .scroll div {
    white-space: nowrap;
    -webkit-animation: scroll var(--time) linear infinite;
    animation: scroll var(--time) linear infinite;
    -webkit-animation-delay: calc(var(--time)*-1);
    animation-delay: calc(var(--time)*-1);
  }

  .scroll div:nth-child(2) {
    -webkit-animation: scroll2 var(--time) linear infinite;
    animation: scroll2 var(--time) linear infinite;
    -webkit-animation-delay: calc(var(--time)/-2);
    animation-delay: calc(var(--time)/-2);
  }

  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes scroll2 {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  @keyframes scroll2 {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  .scroll div span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .scroll div span:hover {
    background: #da2228;
    cursor: pointer;
  }

  .imgBox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .imgBox img {
    max-width: 100px !important;
    scale: 0.8;
    margin: 0 4rem;
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: 2px solid var(--sfondo-white);
    /* border: 2px solid #da2228; */
  }

  .content {
    position: absolute;
    top: 33%;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 9;
  }

  @media screen and (min-width: 1104px) {
    .content {
      left: 17.5%;
    }
  }

  #myBtn {
    min-width: 200px;
    border: none;
    background: var(--sfondo-white);
    color: var(--testo-black);
    font-family: var(--font-family-2);
    font-size: clamp(16px, 3vw, 20px);
    cursor: pointer;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }

  @media screen and (max-width: 676px) {
    #myBtn {
      min-width: 150px;
    }
  }

  #myBtn:hover {
    opacity: .9;
  }

  #myBtn svg {
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }

  #myBtn:hover svg {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
  }

  @media screen and (max-width: 660px) {
    .fakeNav {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
      -webkit-box-align: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
    }
  }
}

.content-main-page {
  margin-top: calc(100vh + 25%);
}