@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    font-family: 'Nunito Sans', sans-serif !important;
    color: #fefefe;
    background: #202321;
    text-wrap: balance !important;
  }

  video::webkit-media-controls-volume-slider,
  video::webkit-media-controls-mute-button,
  video::webkit-media-controls-pause-button {
    display: none !important;
  }

  video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 0 !important;
  }

  h1, h2, h3, h4, h5, h6, p, span, caption, pre, select, textarea, input, button {
    color: #fefefe;
    font-family: inherit;
  }

  .accent {
    color: #da2228 !important;
  }

  .bg-accent {
    background: #da2228 !important;
  }

  .border-accent {
    border-color: #da2228;
  }

  .outline-accent {
    outline-color: #da2228;
  }

  .nav-list.open {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(301px, 0);
    -webkit-transform: translate(301px, 0);
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100vh - 100px);
    z-index: 10000;
    padding: 33px;
    overflow: hidden;
    min-width: 360px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 5;
    overflow: hidden;
    transform: none;
  }

  .nav-list .inner-wrap {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .openDisplay {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .nav-list.open .social-wrap {
    display: inline-flex !important;
    gap: 1.5rem;
    width: 100%;
    margin-top: 3rem;
  }

  .nav-list.open .close-open {
    display: block !important;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }

  .inner-wrap ul li a {
    color: #202321;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }

  #app {
    z-index: 9;
  }

  .slide-out.openSlide {
    background: #da2228;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 0;
    isolation: isolate;
  }

  .main-content {
    height: 100%;
    /** main colors **/
    background: #202321;
    color: #fefefe;
  }

  .main-content.open {
    -webkit-transition: transform .8s cubic-bezier(.15, .2, .1, 1);
    transition: transform .8s cubic-bezier(.15, .2, .1, 1);
    -webkit-transform: scale(.835) translateX(-466px) translateZ(0) !important;
    transform: scale(.835) translateX(-466px) translateZ(0) !important;
    height: 100%;
    transform-origin: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  @media only screen and (min-width: 1000px) {
    .main-content.open {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: scale(.8) translateX(-32vw) translateZ(0) !important;
      transform: scale(.8) translateX(-32vw) translateZ(0) !important;
    }

    .nav-list.open {
      min-width: 33.3vw;
      padding-left: 4%;
      padding-right: 4%;
    }
  }

  /** home **/
  .home {
    height: calc(100vh - 180px);
  }

  /** infinite scroller **/
  .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 90vw;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, #fff), color-stop(80%, #fff), to(transparent));
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
  }

  .scroll div {
    white-space: nowrap;
    -webkit-animation: scroll var(--time) linear infinite;
    animation: scroll var(--time) linear infinite;
    -webkit-animation-delay: calc(var(--time)*-1);
    animation-delay: calc(var(--time)*-1);

  }

  .scroll div:nth-child(2) {
    -webkit-animation: scroll2 var(--time) linear infinite;
    animation: scroll2 var(--time) linear infinite;
    -webkit-animation-delay: calc(var(--time)/-2);
    animation-delay: calc(var(--time)/-2);
  }

  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes scroll2 {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  @keyframes scroll2 {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  .scroll div span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .scroll div span:hover {
    background: #da2228;
    cursor: pointer;
  }

  .imgBox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .imgBox img {
    max-width: 100px !important;
    scale: 0.8;
    margin: 0 4rem;
  }

  /** video bg **/
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 33%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  @media screen and (min-width: 967px) {
    .content {
      left: 17.5%;
    }
  }
  
  #myBtn {
    width: 177px;
    border: none;
    background: #da2228;
    color: #fefefe;
    cursor: pointer;
    transition: transform 500ms ease;
  }
  
  #myBtn:hover {
    opacity: .9;
  }

  #myBtn svg {
    transition: transform 500ms ease;
  }

  #myBtn:hover svg {
    transform: translateX(6px);
    transition: transform 250ms ease;
  }

  @media screen and (max-width: 660px) {
    .fakeNav {
      flex-wrap: wrap;
      justify-content: center !important;
      align-items: center !important;
    }

  }
}